<!DOCTYPE html>
<html>
<head>
    <title>Halal @ UofM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.png') }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body class="overflow-hidden">


<div class="container custom-container">
    <div class="row">
        <div class="col-md-6 left-col">
        </div>
        <div class="col-md-6 right-col">

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
</script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js_bundles/home_bundle.1.0.1.js') }}">
</script>
</body>
</html>
