<!DOCTYPE html>
<html>
<head>

    <title>Halal @ UofM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.png') }}"/>

</head>

<body class="overflow-hidden">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand nav-title" href="#">Halal @ UofMichigan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">

    </div>
</nav>

<div class="container" id="main-container">

    <!--<div id="meal-holder-primary">
        <div class="meals-holder">
            <div class="meal-date">
                <h2>Sunday, April 1, 2018</h2>
            </div>
            <div class="meal-cards-holder">
                <div class="row">

                    <div class="col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body meal-header">
                                <h5 class="card-title">Lamb Kofta</h5>
                                <div class="card-subtitle">Bursley Dining Hall</div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Station:</strong> Olive Branch</li>
                                <li class="list-group-item"><strong>Meal:</strong> Lunch</li>
                                <li class="list-group-item"><strong>Allergens</strong></li>
                            </ul>
                            <div class="card-body">
                                <div class="meal-hours">
                                    <div class="title">
                                        Hours
                                    </div>
                                    <strong>Lunch:</strong> 8:00 to 11:00 AM<br/>
                                    <strong>Dinner:</strong> 17:00 to 20:00 PM
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>-->
</div>


<div id="app"></div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
</script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js_bundles/home_bundle.1.0.1.js') }}">
</script>

</body>

</html>
